
<div class="content">
    <p class="text-dark" style="font-size: 3rem; margin-top: 2%;">
       Post
      <p>
       <div class="row main-row" >
           <div class="row card-row">
             <div class="card"  style="width: 60rem; margin:1%">
                 <div class="card-body">
                 <h5 class="card-title">{{title}}</h5>
                 <p class="card-text">{{body}}</p>
                
            </div>
            </div>
           </div>
       
       </div>
   


 </div>

